body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    overflow-y: scroll;
}

.date-range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

.date-range-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.date-range-container button:hover {
    background-color: #0056b3;
}

#refresh-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#refresh-button:hover {
    background-color: #218838;
}

.widget-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 20px;
}

.widget {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    transition: box-shadow 0.3s;
}

.widget:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.widget h2 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
}

.resize-handle {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    cursor: se-resize;
    border-radius: 3px;
}

.resize-handle::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMuY2ZpbGxhYmxlLnJvb3R0b2xzLmNvbS9uZXciPgo8cGF0aCBkPSJNNy4wMDU5IDkuODU1Nkw5Ljg1NTMgNy4wMDU4IiBzdHJva2U9IiM1ODU4NTgiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTUuNDI5NjkgMTAuNDI5NkwxMC40Mjk2IDUuNDI5NzEiIHN0cm9rZT0iIzU4NTg1OCIgc3Ryb2tlLXdpZHRoPSIxLjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K');
    background-size: cover;
}

.resizable .resize-handle {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.widget-content {
    margin-top: 15px;
    font-size: 1em;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.date-range-text {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.date-range-button.selected {
    background-color: #0056b3; /* Darker blue for selected state */
    color: #fff;
    border: 2px solid #004494; /* Optional: Add a border for emphasis */
}

#searchInput {
    width: 70%;
    padding: 5px;
  }
  
.result-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
  
.result-item a {
    font-weight: bold;
    text-decoration: none;
    color: #1a0dab;
}
  
.result-item a:hover {
    text-decoration: underline;
}
  
.result-item p {
    margin: 5px 0;
    font-size: 14px;
}

.scrollable-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.result-item {
    margin-bottom: 10px;
}
